.trainers-card{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 28px
}
@media screen and (min-width: 900px) {
    .trainers-card {
        flex-direction: row;
    }
}

.trainers-card > .card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.card> h4{
font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 170.9%;
/* identical to box height, or 41px */
letter-spacing: 0.02em;
padding-top: 20px;
color: rgba(255, 255, 255, 0.8);


}
.card> p{
font-family: 'Outfit';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 170.9%;
/* or 27px */
letter-spacing: 0.02em;
padding-top: 10px;

color: #FFFFFF;



}
